@import "tailwindcss";
/* CSS */

@layer components{
    .square {
        @apply flex w-30 h-30 justify-center items-center cursor-pointer select-none hover:h-32

    }

    .input-color{
        @apply aspect-square w-20 min-h-20
    }


}

@theme{
    --color-darker: #141414;
    --color-accent: #9C151B;
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@layer base{
    code {
        font-family:fira_code;
    }

    button{
        @apply border-b
    }
}
